@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #f2f5f9;
  --white-accent-color: #fafaf9;
  --blue-color: #263fa9;
  --gray-color: #f8fafc1a;
  --black-color: #030616;
}

body {
  font-family: "Outfit", sans-serif;
}

.__container {
  height: 100vh;
  background-image: url("/qa-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.__app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.__logo {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  max-width: 100%;
}

.__input_url {
  background-color: var(--black-color);
  border: 3px solid var(--blue-color);
  border-radius: 20px;
  padding: 0.4rem 0.3rem;
  width: 650px;
}
.__input_group {
  display: flex;
  justify-content: space-between;
}
.__input_group input {
  font-family: "Outfit", sans-serif;
  width: 70%;
  border: none;
  color: #fff;
  padding: 1.3rem;
  font-weight: 700;
  background-color: var(--black-color);
  font-size: 16px;
}

.__input_group input:focus {
  outline: none;
  border: none;
}
.__input_group input::placeholder {
  color: var(--white-color);
}
.__input_group button {
  display: block;
  width: 25%;
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 13px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

.__hide {
  display: none !important;
}

.__logo_qr {
  margin: 2rem 0 8rem;
}

.__logo_qr img {
  width: 150px;
}

.__qr-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.__qr-qoute {
  background-color: var(--white-accent-color);
  width: 230px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: ;
  position: relative;
  z-index: 3;
  margin-bottom: 7rem;
}
.__qr-qoute::after {
  content: "";
  background-color: var(--gray-color);
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
}

.__controles {
  display: flex;
  gap: 1rem;
}

.__controles button {
  width: 160px;
  color: white;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  background-color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.__loading {
  font-size: 2.5rem;
  color: white;
  animation: blob 1s infinite alternate;
}

@keyframes blob {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
